@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 223, 223);
    line-height: 1.573;
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    height: 100vh;
} 

.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
    background: linear-gradient(90deg, rgba(148,57,57,1) 0%, rgba(148,57,57,1) 29%, rgba(54,10,10,1) 100%);
}

nav {
    padding: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    font-size: 15pt;

}

nav ul li a {
    color: white;
    padding: 0 10px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in;
}

nav ul li a:hover {
    color: rgb(235, 58, 58);
    transform: scale(1.1);
}

.logo, .logo-img {
    height: 80px;
    width: auto;
    align-items: center;
    display: flex;
    border-radius: 5px;
}

#progres {
    --progress: 0;
    height: 5px;
    width: var(--progress);
    background: linear-gradient(to left, #de6161, #2657eb);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section#banner {
    margin-top: 50px;
    width: 100%;
    height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/zdjeca-na-tło/1banner.jpg);
    justify-content: center;
}

.bname {
    align-items: center;
    text-align: center;
    padding-top: 10px;
}

.banner-content-area {
    height: 115%;
    font-family: 'Courier New', Courier, monospace;
    display: inline-grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.72);
    width: 450px;
    border-radius: 15px;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.1);
    position: relative;
}

.banner-content {
    text-decoration: none;
    font-weight: bold;
    font-size: 27pt;
    color: white;
}

section#home {
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .9)), url(../img/zdjeca-na-tło/tlo3.png);
    background-blend-mode: unset;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.home-content {
    width: 60%;
    min-height: 145vh;
    background: linear-gradient(to top, #0d84ac, #fff);
    overflow: hidden;
    border-radius: 10px;
    clear: both;
}

.skladniki {
    display: flex;
    clear: both;
    overflow: hidden;
}

.left-side {
    width: 75%;
    padding: 20px 40px;
    float: left;
}

.zawartosc h2 {
    text-align: center;
    font-weight: 600;
    font-size: 21pt;
}

.zawartosc p {
    font-size: 15pt;
    text-decoration: none;
    text-align: left;
    padding: 0 10px;
}

.zawartosc ul {
    padding: 0 30px;
}

.zawartosc ul li {
    text-align: left;
    font-size: 14pt;
}

.right-side {
    width: 25%;
    height: fit-content;
    padding: 20px 10px;
    float: right;
}

.right-side img {
    width: 80%;
    height: auto;
    align-items: center;
    margin: 20px auto;
    box-shadow: 0 0.1px 4px #000;
    background-size: cover;
    transition: all 0.3s ease-in .1s;
    border: none;
}

.right-side img:hover {
    transform: scale(1.05);
}

.przygotowanie {
    width: 100%;
    height: 70%;
    padding: 20px 30px;
}

.przygotowanie-place {
    padding: 0 40px;
    list-style-position: inside;
}

.przygotowanie-place h2 {
    font-weight: 600;
    font-size: 21pt;
}

.przygotowanie-place ol li {
    font-size: 15pt;
    text-decoration: none;
    padding: 0 10px;
}

.przygotowanie-place ol li::marker {
    font-size: 1em;
}

.przygotowanie-place img {
    align-items: center;
    width: auto;
    max-height: 300px;
    transition: all 0.3s ease-in 0.1s;
}

.smaczne {
    font-size: 20pt;
    color: #fff;
}

section#contact {
    width: 100%;
    height: 35vh;
    padding: 50px 0 50px 0;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

footer {
    width: 70%;
    height: 35vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 20px;
    text-align: left;
    overflow: overlay;
}

.footer-items {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    font-size: 13pt;
}

.footer-items h3 {
    margin-bottom: 16px;
    color: #dc2430;
}

.footer-items a {
    color: white;
    text-decoration: none;
    margin-bottom: 0.7rem;
    width: fit-content;
    font-size: 15pt;
    transition: all 0.3s ease-out;
}

.footer-items a:hover {
    color: rgb(250, 135, 135);
}

.footer-logo img {
    display: block;
    align-items: center;
    height: auto;
    width: 250px;
    padding-top: 32px;
}

.f-logo {
    transition: all 0.4 ease-out;
    border-radius: 20px;
    border: 1px solid transparent;
}

.f-logo:hover {
    transform: scale(1.02);
}
